<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Actio_Client</display-name>
  <welcome-file-list>
    <welcome-file>Index</welcome-file>
    <welcome-file>/axis2-web/index.jsp</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
    <welcome-file>Index_privato</welcome-file>
    <welcome-file>/axis2-web/index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Index</display-name>
    <servlet-name>Index</servlet-name>
    <servlet-class>it.actio.servlet.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Index_privato</display-name>
    <servlet-name>Index_privato</servlet-name>
    <servlet-class>it.actio.servlet.privato.Index_privato</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index_privato</servlet-name>
    <url-pattern>/privato/Index_privato</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Esplora</display-name>
    <servlet-name>Esplora</servlet-name>
    <servlet-class>it.actio.servlet.privato.Esplora</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Esplora</servlet-name>
    <url-pattern>/privato/Esplora</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DettaglioCorso</display-name>
    <servlet-name>DettaglioCorso</servlet-name>
    <servlet-class>it.actio.servlet.privato.DettaglioCorso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DettaglioCorso</servlet-name>
    <url-pattern>/privato/DettaglioCorso</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RichiediLogin</display-name>
    <servlet-name>RichiediLogin</servlet-name>
    <servlet-class>it.actio.servlet.RichiediLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RichiediLogin</servlet-name>
    <url-pattern>/RichiediLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>it.actio.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>it.actio.servlet.privato.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/privato/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RichiediIscrizione</display-name>
    <servlet-name>RichiediIscrizione</servlet-name>
    <servlet-class>it.actio.servlet.privato.RichiediIscrizione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RichiediIscrizione</servlet-name>
    <url-pattern>/privato/RichiediIscrizione</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Richieste</display-name>
    <servlet-name>Richieste</servlet-name>
    <servlet-class>it.actio.servlet.privato.Richieste</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Richieste</servlet-name>
    <url-pattern>/privato/Richieste</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>RichiediRegistrazione</display-name>
    <servlet-name>RichiediRegistrazione</servlet-name>
    <servlet-class>it.actio.servlet.RichiediRegistrazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RichiediRegistrazione</servlet-name>
    <url-pattern>/RichiediRegistrazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registrazione</display-name>
    <servlet-name>Registrazione</servlet-name>
    <servlet-class>it.actio.servlet.Registrazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registrazione</servlet-name>
    <url-pattern>/Registrazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccettaIscrizione</display-name>
    <servlet-name>AccettaIscrizione</servlet-name>
    <servlet-class>it.actio.servlet.privato.AccettaIscrizione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccettaIscrizione</servlet-name>
    <url-pattern>/privato/AccettaIscrizione</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RichiediModificaCorso</display-name>
    <servlet-name>RichiediModificaCorso</servlet-name>
    <servlet-class>it.actio.servlet.privato.RichiediModificaCorso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RichiediModificaCorso</servlet-name>
    <url-pattern>/privato/RichiediModificaCorso</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RichiediAggiungiCorso</display-name>
    <servlet-name>RichiediAggiungiCorso</servlet-name>
    <servlet-class>it.actio.servlet.privato.RichiediAggiungiCorso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RichiediAggiungiCorso</servlet-name>
    <url-pattern>/privato/RichiediAggiungiCorso</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>AggiungiCorso</display-name>
    <servlet-name>AggiungiCorso</servlet-name>
    <servlet-class>it.actio.servlet.privato.AggiungiCorso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AggiungiCorso</servlet-name>
    <url-pattern>/privato/AggiungiCorso</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>EliminaCorso</display-name>
    <servlet-name>EliminaCorso</servlet-name>
    <servlet-class>it.actio.servlet.privato.EliminaCorso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminaCorso</servlet-name>
    <url-pattern>/privato/EliminaCorso</url-pattern>
  </servlet-mapping>
     <servlet>
    <description></description>
    <display-name>ModificaCorso</display-name>
    <servlet-name>ModificaCorso</servlet-name>
    <servlet-class>it.actio.servlet.privato.ModificaCorso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificaCorso</servlet-name>
    <url-pattern>/privato/ModificaCorso</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis2.transport.http.AxisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Apache-Axis Admin Servlet Web Admin</display-name>
    <servlet-name>AxisAdminServlet</servlet-name>
    <servlet-class>org.apache.axis2.transport.http.AxisAdminServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisAdminServlet</servlet-name>
    <url-pattern>/axis2-admin/*</url-pattern>
  </servlet-mapping>
</web-app>